<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ActivityQuestionnaireMapper">
  <select id="selectByActivityId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_activity_questionnaire
    where activity_id = #{activityId,jdbcType=INTEGER}
  </select>

  <select id="selectAndList" parameterType="com.worldelite.job.entity.ActivityQuestionnaire" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity_questionnaire
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="activityId != null">
        and activity_id = #{activityId}
      </if>
    </where>
  </select>

  <update id="removeTemplate" parameterType="java.lang.Integer">
    update t_activity_questionnaire set template_id = NULL where template_id = #{templateId}
  </update>

  <delete id="deleteByActivityId">
    delete from t_activity_questionnaire where activity_id = #{activityId}
  </delete>
</mapper>