<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ActivityMapper">
<cache-ref namespace="com.worldelite.job.mapper.ActivityMapper"/>
  <select id="selectSimpleByIdAndStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity
    where ${where}
  </select>
  <select id="selectAndList" resultMap="BaseResultMap" resultType="com.worldelite.job.entity.ActivityOptions">
    select
    <include refid="Base_Column_List" />
    from t_activity
    <where>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="userType != null">
        and user_type = #{userType,jdbcType=CHAR}
      </if>
      <if test="cityIds != null and cityIds != ''">
        and city_id in (${cityIds})
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
      <if test="keyword != null and keyword != ''">
        and (title like CONCAT('%', #{keyword},'%') or organizer like CONCAT('%', #{keyword},'%'))
      </if>
      <if test="delFlag != null">
       and del_flag = #{delFlag,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <select id="selectSmartTips" resultMap="BaseResultMap" parameterType="String">
    select
    <include refid="Base_Column_List" />
    from t_activity
    where title like CONCAT('%',#{title},'%') limit 10
  </select>
  <update id="minusFollower">
    update t_activity set follower = if(follower <![CDATA[<]]> 1, 0, follower-1) where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="increaseFollower">
    update t_activity set follower = follower+1 where id = #{id,jdbcType=INTEGER}
</update>
</mapper>