<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ActivityReviewMapper">
<select id="selectAndList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity_review
    <where>
      <if test="activityId != null">
         activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=CHAR}
      </if>
      <if test="reason != null">
        and reason = #{reason,jdbcType=VARCHAR}
      </if>
    </where>
</select>

<delete id="deleteByActivityId">
    delete from t_activity_review
    where activity_id = #{activity_id,jdbcType=INTEGER}
</delete>

<select id="selectByActivityId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_activity_review
    where activity_id = #{activityId,jdbcType=INTEGER}
</select>

</mapper>