<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ChannelUserMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.ChannelUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_channel_user
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="channelId != null">
        and channel_id = #{channelId}
      </if>
    </where>
  </select>
</mapper>