<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.CityMapper">
  <select id="selectByType" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_city
    where type = #{type}
  </select>
  <select id="selectAndList" parameterType="com.worldelite.job.entity.City" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_city
    <where>
      <if test="name">
        and name like concat('%',#{name},'%')
      </if>
    </where>
  </select>
  
  <select id="selectIdByNameWithFuzzy" resultType="INTEGER">
    SELECT * FROM t_city WHERE NAME REGEXP #{name} AND pinyin NOT REGEXP "xian$"
  </select>

</mapper>