<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.CompanyReportMapper">
  <select id="select" parameterType="com.worldelite.job.entity.CompanyReport" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_report
    <where>
      <if test="id != null">
        id = #{id}
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId}
      </if>
      <if test="fromId != null">
        from_id = #{fromId}
      </if>
    </where>
    limit 1
  </select>
  <delete id="deleteByOwnerId" parameterType="java.lang.Long">
    delete from t_company_report
    where owner_id = #{ownerId}
  </delete>
</mapper>