<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.CompanyCommentMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.CompanyComment" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_comment
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="ownerId != null">
        and owner_id = #{ownerId}
      </if>
      <if test="fromId != null">
        and from_id = #{fromId}
      </if>
      <if test="toId != null">
        and to_id = #{toId}
      </if>
    </where>
  </select>
  <delete id="deleteByOwnerId" parameterType="java.lang.Long">
    delete from t_company_comment
    where owner_ids like concat('%',#{ownerId},'%')
  </delete>
</mapper>