<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.CompanyPostMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.CompanyPost" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_company_post
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="fromId != null">
        and from_id = #{fromId}
      </if>
      <if test="companyId != null">
        and company_id = #{companyId}
      </if>
      <if test="cliqueId != null">
        and clique_id = #{cliqueId}
      </if>
      <if test="recommend != null">
        and recommend = #{recommend}
      </if>
      <if test="title != null and title != ''">
        and title like concat('%',#{title},'%')
      </if>
    </where>
  </select>

  <select id="selectAndListSimple" parameterType="com.worldelite.job.entity.CompanyPost" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from t_company_post
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="fromId != null">
        and from_id = #{fromId}
      </if>
      <if test="companyId != null">
        and company_id = #{companyId}
      </if>
      <if test="cliqueId != null">
        and clique_id = #{cliqueId}
      </if>
      <if test="title != null and title != ''">
        and title like concat('%',#{title},'%')
      </if>
      <if test="recommend != null">
        and recommend = #{recommend}
      </if>
    </where>
  </select>

  <select id="search" parameterType="com.worldelite.job.entity.CompanyPost" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    from t_company_post
    <where>
      <if test="id != null">
        and id like concat('%',#{id}, '%')
      </if>
      <if test="title != null and title != ''">
        and title like concat('%',#{title}, '%')
      </if>
      <if test="companyNames != null and companyNames != ''">
        and company_id in (select id from t_company where name regexp '${companyNames}'
        or full_name regexp '${companyNames}')
      </if>
      <if test="fromNames != null and fromNames != ''">
        and from_id in (select id from t_user_applicant where name regexp '${fromNames}')
      </if>
      <if test="beginTime != null">
        and create_time &gt;= #{beginTime}
      </if>
      <if test="endTime != null">
        and create_time &lt;= #{endTime}
      </if>
      <if test="keyword != null and keyword != ''">
        and content like concat('%',#{keyword},'%')
      </if>
      <if test="recommend != null">
        and recommend = #{recommend}
      </if>
    </where>
  </select>

  <delete id="deleteAll" parameterType="com.worldelite.job.entity.CompanyPost">
    delete from t_company_post where id in (${postIds})
  </delete>
</mapper>