<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.CompanyWikiMapper">
<cache-ref namespace="com.worldelite.job.mapper.CompanyWikiMapper"/>
  <select id="selectAndList" parameterType="com.worldelite.job.entity.CompanyWiki" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_company_wiki
    <where>
      <if test="companyId != null">
        and company_id = #{companyId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <select id="selectByCompanyId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_company_wiki
    where
    company_id = #{companyId,jdbcType=BIGINT}
  </select>
</mapper>