<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.JobApplyMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.JobApply" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_job_apply
    <where>
      <if test="jobId != null">
        and job_id = #{jobId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="resumeId != null">
        and resume_id = #{resumeId,jdbcType=BIGINT}
      </if>
      <if test="status != null">
        and status = #{status,jdbcType=TINYINT}
      </if>
    </where>
  </select>
</mapper>