<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.QuestionnaireOptionsMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.QuestionnaireOptions" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_questionnaire_options
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="questionnaireId != null">
        and questionnaire_id = #{questionnaireId}
      </if>
    </where>
  </select>
</mapper>