<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.QuestionnaireTemplateMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.QuestionnaireTemplate" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_questionnaire_template
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="templateName != null and templateName != ''">
        and template_name = #{templateName}
      </if>
    </where>
  </select>

  <select id="selectCountByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select count(*) from t_questionnaire_template where user_id = #{userId}
  </select>

  <select id="selectByTemplateName" parameterType="com.worldelite.job.entity.QuestionnaireTemplate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_questionnaire_template
    where template_name = #{templateName} or template_name like concat(#{templateName},'（%）') and user_id = #{userId}
  </select>
</mapper>