<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.RealNameAuthMapper">
    <select id="selectAndList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_real_name_auth
        <where>
            <if test="userId != null and userId !=''">
                user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="name != null and name !=''">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="idNumber != null and idNumber !=''">
                and id_number = #{idNumber,jdbcType=VARCHAR}
            </if>
            <if test="faceUrl != null and faceUrl !=''">
                and face_url = #{faceUrl,jdbcType=VARCHAR}
            </if>
            <if test="emblemUrl != null and emblemUrl !=''">
                and emblem_url = #{emblemUrl,jdbcType=VARCHAR}
            </if>
            <if test="holdUrl != null and holdUrl !=''">
                and hold_url = #{holdUrl,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status !=''">
                and status = #{status,jdbcType=TINYINT}
            </if>
            <if test="reason != null and reason !=''">
                and reason like CONCAT('%',#{reason},'%')
            </if>
            <if test="businessType != null and businessType !=''">
                and business_type = #{businessType,jdbcType=TINYINT}
            </if>
        </where>
    </select>
</mapper>