<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.RegistrationMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.Registration" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_registration
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="activityId != null">
        and activity_id = #{activityId}
      </if>
      <if test="registrationUserId != null">
        and registration_user_id = #{registrationUserId}
      </if>
      <if test="keywords != null and keywords != ''">
        and (name like concat('%',#{keywords},'%'))
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>
  <select id="selectRegistrationStatusByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_registration
    where activity_id = #{activityId} and registration_user_id = #{registrationUserId}
</select>
  <select id="selectNextRegistrationId" resultType="java.lang.Integer">
    select
      max(`number`)+1
    from t_registration
    where activity_id =  #{activityId}
  </select>
</mapper>