<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.RegistrationMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.Registration" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_registration
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="activityId != activityId">
        and activity_id = #{activityId}
      </if>
    </where>
  </select>
</mapper>