<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeRepositoryMapper">
  <select id="selectByResumeId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_repository
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resume_repository
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <select id="selectByCompanyId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resume_repository
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>

  <select id="selectByCreatorId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resume_repository
    where creator_id = #{creatorId,jdbcType=BIGINT}
  </select>
</mapper>