<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeLinkMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.ResumeLink" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resume_link
    <where>
      <if test="resumeId != null">
        and resume_id = #{resumeId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
</mapper>