<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeShareMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.ResumeShare" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_share
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="originId != null">
        and origin_id = #{originId}
      </if>
      <if test="resumeId != null">
        and resume_id = #{resumeId}
      </if>
      <if test="fromId != null">
        and from_id = #{fromId}
      </if>
      <if test="toId != null">
        and to_id = #{toId}
      </if>
    </where>
  </select>
</mapper>