<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeEduMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.ResumeEdu" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resume_edu
    <where>
      <if test="resumeId != null">
        and resume_id = #{resumeId,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="schoolId != null">
        and school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="schoolName != null">
        and school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="degreeId != null">
        and degree_id = #{degreeId,jdbcType=INTEGER},
      </if>
    </where>
  </select>

  <select id="countSchool" resultType="java.lang.Integer">
    select COUNT(distinct school_name)from t_resume_edu;
  </select>

  <select id="countSchoolGroupBy" resultType="com.worldelite.job.form.CountForm">
    select school_name as name, COUNT(*) as num from t_resume_edu group by school_name;
  </select>

  <select id="countMajorGroupBy" resultType="com.worldelite.job.form.CountForm">
    select major_name as name, COUNT(*) as num from t_resume_edu group by major_name;
  </select>

  <select id="countSchoolByTime" parameterType="com.worldelite.job.entity.ResumeEduOptions" resultType="com.worldelite.job.form.TimePairForm">
    select #{startTime} as time, count(*) as num from t_resume_edu where update_time >= #{startTime} and #{endTime} > update_time
  </select>
</mapper>