<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeMapper">
    <select id="selectAndList" resultMap="BaseResultMap" parameterType="com.worldelite.job.entity.Resume">
        select
        <include refid="Base_Column_List"/>
        from t_resume
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <!-- 企业用户简历过滤 -->
            <if test="companyId != null">
                and user_id in (select t_user_repository.id as user_id from t_user_repository where
                t_user_repository.company_id = #{companyId})
            </if>
            <if test="creatorId != null">
                and user_id in (select t_user_repository.id as user_id from t_user_repository where
                t_user_repository.creator_id = #{creatorId})
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name},'%')
            </if>
            <if test="title != null and title != ''">
                and title like CONCAT('%', #{title},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender,jdbcType=TINYINT}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="minAge != null and maxAge != null">
                and age between #{minAge, jdbcType=INTEGER} and #{maxAge, jdbcType=INTEGER}
            </if>
            <if test="(degreeIds != null and degreeIds != '') or (schoolIds != null and schoolIds != '') or (minGpa != null and maxGpa != null)">
                and id in (select t_resume_edu.resume_id from t_resume_edu where
                t_resume_edu.resume_id = t_resume.id
                <if test="degreeIds != null and degreeIds != ''">
                    and degree_id in (${degreeIds})
                </if>
                <if test=" schoolIds != null and schoolIds != ''">
                    and school_id in (${schoolIds})
                </if>
                <if test="minGpa != null and maxGpa != null">
                     and gpa between #{minGpa} and #{maxGpa}
                </if>
                )
            </if>
            <if test="extQuery != null">
                and ${extQuery}
            </if>
        </where>
    </select>

    <select id="countAll" resultType="java.lang.Integer">
    select count(*) from t_resume
  </select>

    <select id="countPlaceGroupBy" resultType="com.worldelite.job.form.CountForm">
        select cur_place as name, count(*) as num from t_resume where cur_place!=''group by cur_place;
    </select>

    <select id="countGraduateTimeGroupBy" resultType="com.worldelite.job.form.TimePairForm">
        select graduate_time as time, COUNT(*) as num from t_resume where graduate_time IS NOT NULL group by graduate_time;
    </select>

    <select id="countAllByTime" parameterType="com.worldelite.job.entity.ResumeOptions" resultType="com.worldelite.job.form.TimePairForm">
    select #{startTime} as time, count(*) as num from t_resume where update_time >= #{startTime} and #{endTime} > update_time
  </select>

    <select id="countOpResumeByTime" parameterType="com.worldelite.job.entity.ResumeOptions" resultType="com.worldelite.job.form.TimePairForm">
    select #{startTime} as time, count(*) as num from t_resume where update_time >= #{startTime} and #{endTime} > update_time and type = 2
  </select>

    <select id="countUserResumeByTime" parameterType="com.worldelite.job.entity.ResumeOptions" resultType="com.worldelite.job.form.TimePairForm">
    select #{startTime} as time, count(*) as num from t_resume where update_time >= #{startTime} and #{endTime} > update_time and type = 1
  </select>

</mapper>