<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.ResumeDownloadMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.ResumeDownload" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resume_download
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="resumeId != null">
        and resume_id = #{resumeId}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="name != null and name != ''">
        and name like concat('%',#{name},'%')
      </if>
      <if test="process != null">
        and process = #{process}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>
</mapper>