<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.SearchJobHistoryInfoMapper">
  <resultMap id="BaseResultMap" type="com.worldelite.job.entity.SearchJobHistoryInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="history_id" jdbcType="BIGINT" property="historyId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="salary_id" jdbcType="INTEGER" property="salaryId" />
    <result column="degree_id" jdbcType="INTEGER" property="degreeId" />
    <result column="industry_id" jdbcType="INTEGER" property="industryId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, history_id, city_id, salary_id, degree_id, industry_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_search_job_history_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_search_job_history_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.worldelite.job.entity.SearchJobHistoryInfo" useGeneratedKeys="true">
    insert into t_search_job_history_info (history_id, city_id, salary_id,
      degree_id, industry_id, create_time,
      update_time)
    values (#{historyId,jdbcType=BIGINT}, #{cityId,jdbcType=INTEGER}, #{salaryId,jdbcType=INTEGER},
      #{degreeId,jdbcType=INTEGER}, #{industryId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.worldelite.job.entity.SearchJobHistoryInfo" useGeneratedKeys="true">
    insert into t_search_job_history_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        history_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="salaryId != null">
        salary_id,
      </if>
      <if test="degreeId != null">
        degree_id,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="historyId != null">
        #{historyId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="salaryId != null">
        #{salaryId,jdbcType=INTEGER},
      </if>
      <if test="degreeId != null">
        #{degreeId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.worldelite.job.entity.SearchJobHistoryInfo">
    update t_search_job_history_info
    <set>
      <if test="historyId != null">
        history_id = #{historyId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="salaryId != null">
        salary_id = #{salaryId,jdbcType=INTEGER},
      </if>
      <if test="degreeId != null">
        degree_id = #{degreeId,jdbcType=INTEGER},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.worldelite.job.entity.SearchJobHistoryInfo">
    update t_search_job_history_info
    set history_id = #{historyId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=INTEGER},
      salary_id = #{salaryId,jdbcType=INTEGER},
      degree_id = #{degreeId,jdbcType=INTEGER},
      industry_id = #{industryId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>