<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.SkillTagMapper">
  <select id="selectByName" parameterType="com.worldelite.job.entity.SkillTag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_skill_tag
    <where>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="name != null and name != ''">
        and name like concat('%',#{name},'%')
      </if>
    </where>
    limit 10
  </select>

  <select id="selectAndList" parameterType="com.worldelite.job.entity.SkillTag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_skill_tag
    <where>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="name != null and name != ''">
        and name like concat('%',#{name},'%')
      </if>
      <if test="delFlag != null">
        and del_flag = #{delFlag}
      </if>
    </where>
  </select>
</mapper>