<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.SubscribeMapper">
  <select id="selectAndList" parameterType="com.worldelite.job.entity.Subscribe" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_subscribe
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="userId != null">
        and user_id = #{userId}
      </if>
      <if test="objectId != null">
        and objectId = #{objectId}
      </if>
      <if test="objectType != null">
        and object_type = #{objectType}
      </if>
    </where>
  </select>
</mapper>