<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.worldelite.job.mapper.UserExpectJobMapper">
  <select id="selectAndList" resultMap="BaseResultMap" parameterType="com.worldelite.job.entity.UserExpectJob">
    select
    <include refid="Base_Column_List" />
    from t_user_expect_job
    <where>
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
      <if test="resumeId != null">
        and resume_id = #{resumeId,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <delete id="deleteByResumeId" parameterType="java.lang.Long">
    delete from t_user_expect_job
    where resume_id = #{resumeId,jdbcType=BIGINT}
  </delete>
</mapper>