@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.app-padding{
    padding: 0 80px;
}

.text-small{
    font-size: 14px;
    font-weight: 400;
}

.text-gray{
    color: $gray-600;
}

.link-pointer{
    cursor: pointer;
}

a:hover{
    text-decoration:none!important;
}